<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864538605023-vukargu78e7vjdj18171mqi8rikhcfjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864538605023-vukargu78e7vjdj18171mqi8rikhcfjv</string>
	<key>API_KEY</key>
	<string>AIzaSyDa8Xx9MfrEtJWrP8RUlthBK8OqeENg16E</string>
	<key>GCM_SENDER_ID</key>
	<string>864538605023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-86f45</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-86f45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864538605023:ios:dd6c6e90ebd9e6645d806a</string>
</dict>
</plist>